<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FAMA.AP.Model.Properties.Settings.ApNetConnectionString"
            connectionString="Data Source=ENKEL-PC\SQLEXPRESS2014;Initial Catalog=ApNet;Persist Security Info=True;User ID=sa;Password=adminap"
            providerName="System.Data.SqlClient" />

      
    </connectionStrings>
</configuration>